[submodule "newcode/pone/cpp/extern/pybind11"]
	path = newcode/pone/cpp/extern/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = stable
[submodule "newcode/pone/cpp/extern/boostlocal"]
	path = newcode/pone/cpp/extern/boostlocal
	url = https://github.com/boostorg/boost.git
