[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "New/pone/external/boost"]
	path = New/pone/external/boost
	url = https://github.com/boostorg/boost.git
[submodule "newcode/pone/extern/pybind11"]
	path = newcode/pone/extern/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = stable
